* {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
}

html,
body,
#root {
  height: 100%;
  height: -webkit-fill-available;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
